<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.essstore">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EssStore"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.HistoryOrderDetails"
            android:exported="true" />
        <activity
            android:name=".view.History"
            android:exported="true" />
        <activity
            android:name=".view.GetPersonalInfo"
            android:exported="true" />
        <activity
            android:name=".view.ChangePassword"
            android:exported="true" />
        <activity
            android:name=".view.CardPayment"
            android:exported="true" />
        <activity
            android:name=".view.SelectPaymentMethod"
            android:exported="true" />
        <activity
            android:name=".view.MainMenu"
            android:exported="true" />
        <activity
            android:name=".view.Promotions"
            android:exported="true" />
        <activity
            android:name=".view.HomeScreen"
            android:exported="true" />
        <activity
            android:name=".view.WishList"
            android:exported="true" />
        <activity
            android:name=".view.CartScreen"
            android:exported="true" />
        <activity
            android:name=".view.FavouriteProducts"
            android:exported="true" />
        <activity
            android:name=".view.HotProducts"
            android:exported="true" />
        <activity
            android:name=".view.LatestProducts"
            android:exported="true" />
        <activity
            android:name=".view.NotificationView"
            android:exported="true" />
        <activity
            android:name=".view.FinalReview"
            android:exported="true" />
        <activity
            android:name=".view.OrderCreatedThankYou"
            android:exported="true" />
        <activity
            android:name=".view.ProductSubmittedThankYou"
            android:exported="true" />
        <activity
            android:name=".view.SubmitWish"
            android:exported="true" />
        <activity
            android:name=".view.Setting"
            android:exported="true" />
        <activity
            android:name=".view.Signup"
            android:exported="true" />
        <activity
            android:name=".view.Login"
            android:exported="true" />
        <activity
            android:name=".view.Profile"
            android:exported="true" />
        <activity
            android:name=".view.WelcomeScreen"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>